/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@media screen and (min-width: 1035px){
    /* Styles applied below width*/
    .mininav {
        display: none;
    }

}

@media screen and (max-width: 1035px){
    /* Styles applied below width*/

    .nav {
        display: none;
    }

    header{
        background-color:bisque;
        padding-bottom: 3px;
    }

    .mininav {
        float: right;
        padding-right: 50px;
        padding-top: 30px;
        width: 90px;
        height: 90px;
    }

    .Img1 {
        overflow: hidden;
        height: 100px;
        width: 942px;
        margin-right: 40px;
    }

    .glasses{
        width: 100px;
    }

    .Img2 {
        overflow: hidden;
        height: 200px;
        width: 300px;
    }

    .Img2{
        display: none;
    }

    .title{
        
     
    }

    .text{
        
    }

  }

  @media screen and (max-width: 1128px){

    }

header{
    background-color:bisque;
    padding-bottom: 63px;
}

nav{
    text-align: center;
    text-decoration: none;
    font-family: "adlery-pro-blockletter", sans-serif;
}

.Home {
    padding-right: 150px;
    border-right: 5px solid rgb(255, 188, 100);
    border-bottom: 5px solid rgb(255, 188, 100);
    border-top: 5px solid rgb(255, 188, 100);
}

.About{
    padding-right: 150px;
    border-right: 5px solid rgb(255, 188, 100);
    border-bottom: 5px solid rgb(255, 188, 100);
    border-top: 5px solid rgb(255, 188, 100);
}

.Contact{
    padding-right: 150px;
    border-right: 5px solid rgb(255, 188, 100);
    border-bottom: 5px solid rgb(255, 188, 100);
    border-top: 5px solid rgb(255, 188, 100);
    border-left: 5px solid rgb(255, 188, 100);
}

nav ul{
    list-style: none;
    border-right: 1px solid black;
 }

 nav ul li {
    float: right;
    width: 17%;

 }


nav ul li a{
    color:darkgoldenrod;
    text-decoration: none;
	font-size: 30px;
    background:bisque;

    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transition-delay: 0.2s;
    transition: width 0.3s 0.5s, height 0.5s 1s
}

nav a:hover {
    color: brown;
    font-size: 32px;
}

h1 {
	font-family: "adlery-pro-swash", sans-serif;
    font-size: 75px;
    padding-left: 80px;
    margin-bottom: 60px;
}

.wave {
    animation-name: wave;
    animation-duration: 6s;
  }

  @keyframes wave {
    0%, 50%, 100% { 
      color: orange; 
      transform: scale(1);
    }
    25% {
      color: brown;
      transform: scale(1.1, 1);
    }
    75% {
      color: black;
      transform: scale(1, 0.5);
    }
  }
  

h2{
    font-family: "adlery-pro-blockletter", sans-serif;
    padding-right: 700px;
    padding-left: 100px;
}

.title{
    font-size: 35px;
}

.Sub{
    font-size: 30px;

}

p{  
    padding-top: 20px;
    padding-bottom: 2px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 700px;
    text-align: left;
    background-color: bisque;
}

.glasses{
    float: right;
    width: 600px;
}

.Lenses{
        display: flex;
        float: left;
        padding-top: 30px;
        width: 750px;

}


.footercontact {
    text-align: left;
    text-decoration: none;
    list-style: none;
    color:darkgoldenrod;
    font-family: "adlery-pro-blockletter", sans-serif;
}

    footer {
        text-align: right;
        padding-right: 30px;
      }

    